.logo {
    max-width: 90vw;
    max-height: 80vh;
    margin: 10px auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 7px 7px 10px black;
    font-weight: bolder;
    font-size: 3rem;
}

body {
    background: #a09f9d;
    font-family: 'Caveat', serif;
}

a {
    color: black;
    text-decoration: none;
    font-size: 2.5rem;
}

a:hover {
    color: black;
}

h1.header {
    font-size: 2.5rem;
}

.home {
    margin: 20px auto;
    width: 90vw;
    padding: 5px;
    justify-content: space-evenly;
}

.home-text {
    color: black;
}

.phone {
    color:#a10000;
    font-weight:900;
}

.product {
    font-weight: 600;
    color: #FE0000;
}

.header {
    font-size: 1.5rem;
    text-decoration: underline;
    color: black;
    margin: 15px auto;
}

.card-section {
    margin: 20px auto;
    width: 90vw;
    padding: 5px;
    background: #a10000;
    justify-content: space-evenly;
}

.card-header {
    font-size: 1.8rem;
    background: white;
}

.card {
    margin: 15px 30px;
    width: 220px;
    min-height: 240px;
    justify-content: center;
    box-shadow: 7px 7px 10px rgb(0, 0, 0);
}

.home-card {
    margin: 15px 30px;
    max-width: 300px;
    min-height: 240px;
    justify-content: center;
    background:white;
    box-shadow: 7px 7px 10px rgb(0, 0, 0);
}

.card:hover {
    box-shadow: 12px 12px 15px black;
}

.home-card:hover {
    box-shadow: 12px 12px 15px black;
}

.card-img {
    padding: 10px;
}

.feed-header {
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    text-decoration: underline;
    text-shadow:  2px 2px 2px lightgrey;
}

.centered {
    text-align: center;
}

/* custom styles */

.bg-red {
    background: #FE0000;
}

.bg-darkgray {
    background: #7a7a7a;
}

.bg-lightgray {
    background: #a09f9d;
}

.border {
    border: 3px black solid;
    border-radius: 15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.margin-15 {
    margin: 15px auto;
}

.margin-1515 {
    margin: 15px 15px;
}

.padding-1515 {
    padding: 15px 15px;
}

.bold {
    font-weight: 900;
}

.navbar {
    font-size: 1.3rem;
    font-weight: 800;
    color: black;
    border-bottom: solid #7a7a7a 2px;
}

.banner {
    width: 90vw;
    max-height: 500px;
    border-radius: 20px;
    border: 2px solid black;
}

.navbar-toggler {
    background: #a1000043;
}

.category {
    margin: 20px auto;
    width: 90vw;
    padding: 5px;
    justify-content: space-evenly;
    padding: 30px;
}

.banner-container {
    width: 90vw;
    max-height: 500px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}