.logo {
    max-width: 98vw;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: #F4E0B9;
}

a {
    color:#FE0000;
    text-decoration: none;
}

h1.header {
    font-size: 2.5rem;
}

.header {
    font-size: 1.5rem;
    text-decoration: underline;
    color: black;
    margin: 15px auto;
}

.card-section {
    margin: 2% 10%;
}

.card {
    width: 275px;
    height: fit-content;
    justify-content: center;
}

.centered {
    text-align: center;
}

/* custom styles */

.bg-red {
    background: #FE0000;
}

.bg-darkgray {
    background: #7D7463;
}

.bg-lightgray {
    background: #A8A196;
}

.border {
    border: 3px black solid;
    border-radius: 15px;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.margin-15 {
    margin: 15px auto;
}

.margin-1515 {
    margin: 15px 15px;
}

.padding-1515 {
    padding: 15px 15px;
}


.dropdown-item.active {
    background-color: #FE0000;
}

.bold {
    font-weight: 700;
}

img.card-img-top {
    height: 150px;
    width: 120px;
}