.logo {
  max-width: 100%;
}

body {
  background: darkslategray;
}

.header {
  font-size: 1.5rem;
  text-decoration: underline;
  color: black;
  margin: 15px auto;
}

.card-section {
  margin: 2%;
}

.card {
  width: 275px;
  height: fit-content;
  justify-content: center;
}

.centered {
  text-align: center;
}

/* custom styles */

.bg-red {
  background: #660000;
}

.border {
  border: 3px black solid;
  border-radius: 15px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.margin-15 {
  margin: 15px auto;
}

.margin-1515 {
  margin: 15px 15px;
}

.padding-1515{
  padding: 15px 15px;
}


.dropdown-item.active{
  background-color: #660000;
}

.bold {
  font-weight: 700;
}

img.card-img-top {
  height: 150px;
  width: 120px;
}